body {
  height: 700px;
  background: radial-gradient(circle at 50% 300px, #5a5c5c, #cfc8c8);
}

.container {
  height: 300px;
  width: 100%;
  background: transparent;
  max-width: 1080px;
  margin-left: 8%;
  margin-top: 20%;
}

.stopwatch {
  font-family: sans-serif;
  text-align: center;
  font-size: 100px;
  height: 200px;
  width: 100%;
  background: transparent;
  color: white;
  text-shadow: 2px 2px 4px black;
}

h1 {
  margin-bottom: 0px
}

.progress-bar {
  display: inline-block;
  background-color: white;
  box-shadow: 2px 2px 4px black;
  text-align: center;
  width: 100px;
  max-width: 1080px;
  height: 20px;
}


.hours::after,
.minutes::after {
  content: ""
}


@media (min-width: 1920px) {
  .container {
    margin-left: 23%;
  }
}

@media (max-width: 800px) {
  .stopwatch {
    font-size: 48px;
  }
  .container {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 45%;
  }
}


@media (max-width: 375px) {
  .stopwatch {
    font-size: 36px;
  }
}
